@media (min-width: 100px) {
    .row {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    .col {
        display: table-cell;
        text-align: center;
    }

    /* body {
        background-image: url("../img/background.jpg");
    } */

    /* .content {
        background-image: url("../img/background.jpg");
    } */
}